@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #3a5cd6;
}

* {
  /* outline: solid 2px red; */
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-background2 text-text;
}
.card {
  @apply bg-background border border-text/5 hover:border-text/10 rounded-xl;
}
.gradient-text {
  @apply from-primary to-accent bg-gradient-to-t bg-clip-text text-transparent;
}
.clock {
  /* font-family: 'Segment7Standard'; */
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
